body{
    background-color: aqua;
    text-align: center;
    border: 2px solid rgb(11, 11, 11);
    margin: 50px;

}
button{
    cursor: pointer;
    border-radius: 8px;
    border: 2px solid black;

}
